.invoice_wrapper { padding: 2cm; height: 256mm; width: 170mm; background: url('/img/invoice/frontpage.jpg'); background-size: contain; background-position: center; font-size: 8pt; }
.invoice_page { padding: 2cm; height: 256mm; width: 170mm; background: url('/img/invoice/page.jpg'); background-size: contain; background-position: center; font-size: 8pt; }
.invoiceheader { 
	position: relative;
	top: 0;
	height: 79mm;
}

.invoicecc {
	height: 42%;
}

.invoiceaddress {
	height: 58%;
}

.invoicedata {
	position: relative;
	top: -60%;
	left: 50%;
	width: 50%;
}

.invoice_wrapper table { width: 100%; }
.invoice_wrapper th,.invoice_wrapper td,.invoice_page th,.invoice_page td { text-align: right; vertical-align: top; }
.invoice_wrapper .justify,.invoice_page .justify { text-align: justify; }
.invoicereport{ font-family: Courier, monospace; }
.invoicepagenumber { text-align: right; }

.myidentity { font-size: 5pt; }

